@import 'https://fonts.googleapis.com/css?family=Lato:300';

td{
    border: 3px solid rgb(44, 41, 41);
    height: 125px;
    width: 125px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive , sans-serif;
    font-size: 70px;
    cursor: pointer; 
}

table {
    border-collapse : collapse;
    position : absolute;
    left: 50%;
    margin-left: -180px;
    top : 50px;
}

table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
.endgame{
    display : none;
    width: 200px;
    top: 120px;
    background-color: rgba(205,133,63,0.8);
    position: absolute;
    left : 50%;
    margin-left: -87px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size: 2em;
}
html{
    width:100%;
    height:100%;
    background:linear-gradient(#f7aeb7, #ffcccc, #ffeee6);
}
button{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}  
